<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controls.scheme.Classic</key>
	<dict>
		<key>tag1001</key>
		<string>{{346, 221}, {64, 64}}</string>
		<key>tag1002</key>
		<string>{{292.5, 192}, {38, 38}}</string>
		<key>tag1003</key>
		<string>{{421.5, 188}, {38, 38}}</string>
		<key>tag1004</key>
		<string>{{425, 277.5}, {38, 38}}</string>
		<key>tag1005</key>
		<string>{{294.5, 276}, {38, 38}}</string>
		<key>tag1006</key>
		<string>{{11.5, 196.5}, {100, 100}}</string>
	</dict>
	<key>controls.scheme.ScreenTap</key>
	<dict>
		<key>tag1001</key>
		<string>{{347, 222}, {64, 64}}</string>
		<key>tag1002</key>
		<string>{{293, 192}, {38, 38}}</string>
		<key>tag1003</key>
		<string>{{421.5, 188}, {38, 38}}</string>
		<key>tag1004</key>
		<string>{{425, 277.5}, {38, 38}}</string>
		<key>tag1005</key>
		<string>{{295, 276}, {38, 38}}</string>
	</dict>
	<key>controls.scheme.VirtualSticks</key>
	<dict>
		<key>tag1001</key>
		<string>{{294.5, 213}, {64, 64}}</string>
		<key>tag1002</key>
		<string>{{441.5, 69}, {38, 38}}</string>
		<key>tag1003</key>
		<string>{{132.5, 184.5}, {38, 38}}</string>
		<key>tag1004</key>
		<string>{{133, 268}, {38, 38}}</string>
		<key>tag1005</key>
		<string>{{392.5, 68.5}, {38, 38}}</string>
		<key>tag1006</key>
		<string>{{21, 191.5}, {100, 100}}</string>
		<key>tag1007</key>
		<string>{{365, 188.5}, {100, 100}}</string>
	</dict>
</dict>
</plist>
